<div class="panel panel-default" ng-init="getStudents()">
	<div class="panel-heading panel-responsive">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-list"> </span> Students List</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-responsive">
			<thead>
			<tr>
			  <th>Full Name</th>
			  <th>Email</th>
			  <th>Contact</th>
			  <th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="student in students">
			  <td>{{ student.full_name }}</td>
			  <td>{{ student.email }}</td>
			  <td>{{ student.contact }}</td>
			  <td> 
			    <a href="#/students/{{student._id}}/show" class="btn btn-info"> Show  </a>
			    <a href="#/students/{{student._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit  </a>
			  	<a ng-click="deleteStudent(student._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>

